{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="compose-view">
    {% if user.is_authenticated %}
    <button id="new-post-button" type="button" class="btn btn-primary">New post</button>
    <div id="new-post-form" class="card mb-3">
        <div class="card-body">
            <h3>New Post</h3>
            <form id="new-post-form">
                <textarea class="form-control" id="new-post-body" placeholder="What's on your mind..."></textarea>
                <input type="submit" class="btn btn-primary" style="margin-top:10px;">
                <button id="cancel-new-post" type="button" class="btn btn-secondary" style="margin-top:10px;">Cancel</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<div id="posts-view"></div>
<div id="profile-view"></div>
{% endblock %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}