#profile-view, #posts-view, #compose-view {
    padding: 20px;
}

.card {
    width: 500px;
}

.card-body {
    padding: 20px;
}

.card-title:hover {
    text-decoration-line: underline;
    cursor:pointer;
}
